<!DOCTYPE html>
<html>
<head>
  <title>Smallpaints</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<%= render 'shared/navigation' %>
<div id="main-container" class='container'>
<div id="sidebar" class='col-md-4'>
    <h6><ul>menu</h6>
	<li>page</li>
	<li>page again</li>
	</ul>
</div>

<div id="main" class='col-md-8'>
<%= yield %>
</div>
</div>
</body​​>
</html>
